<script>
    $(document).ready(function () {
        $("#costesbundle_unidadorganizativa_dependencia").change(function () {
            let valor, recurso;
            let codigo;
            $("#procesando").show();
            valor = $("#costesbundle_unidadorganizativa_dependencia").val();
            if (valor === '') {
                $("#costesbundle_unidadorganizativa_codigo").val('');
            }
            recurso = Routing.generate("ajaxGetUnidad", {"id": valor}, true);
            $.ajax({
                type: "POST",
                url: recurso,
                dataType: 'json',
                success: function ok (data) {
                    $('.modal-backdrop').remove();
                    $("#procesando").hide();
                    codigo = data.codigo + ".";
                    $("#costesbundle_unidadorganizativa_codigo").val(codigo);
                },
                error: function err () {
                    return null;
                }
            });
        });

        $("#costesbundle_unidadorganizativa_responsable").change(function () {
        });
    });
</script>
<div class="containe-fluid">
    {{ form_start(form) }}
    <div class="form-row mismalinea">{{ form_row(form.id) }}</div>
    <div class="form-row">{{ form_row(form.descripcion) }}</div>
    <div class="clearfix"></div>
    <div class="form-row">{{ form_row(form.dependencia) }}</div>
    <div class="clearfix"></div>
    <div class="form-row mismalinea">{{ form_row(form.codigo) }}</div>
    <div class="form-row mismalinea">{{ form_row(form.orden) }}</div>
    <div class="clearfix"></div>
    <div class="form-row mismalinea">{{ form_row(form.responsableCias) }}</div>
    {#<div class="form-row mismalinea">{{ form_row(form.responsableDs) }}</div>#}
    <div class="clearfix"></div>
    <div class="form-row mismalinea">{{ form_row(form.tipoUnidad) }}</div>
    {{ form_end(form) }}
</div>
