<div class="btn-group btn-group-justified" role="group" aria-label="...">  
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle btn-primary" 
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Maestros 
            <span class="glyphicon glyphicon-briefcase"></span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="{{path("queryCatGen")}}">Categorías Generales</a></li>
            <li><a href="{{path("queryCateg")}}">Categorías Profesionales</a></li>
            <li><a href="{{path("queryAltas")}}">Motivos de Alta</a></li>
            <li><a href="{{path("queryAusencia")}}">Ausencias y Permisos</a></li>
            <li><a href="{{path("queryConcepto")}}">Conceptos Retributivos</a></li>
            
        </ul>
    </div>
</div>
