<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle btn-primary" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Control de Costes 
        <span class="glyphicon glyphicon-cog"></span>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="{{path("queryUf")}}">Unidades Funcionales</a></li>
        <li><a href="{{path("queryPa")}}">Puntos Asistenciales</a></li>
        <li><a href="{{path("queryPlaza")}}">Plazas</a></li>
        <li><a href="{{path("queryCeco")}}">Centros de Coste</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="{{path("importaCecoCias")}}">Carga de Asignaciones</a></li>
        <li><a href="{{path("verPlazasSinCeco")}}">Consulta Plazas Sin Ceco</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="{{path("queryAsignacionDirecta")}}">Asignación Directa</a></li>
        <li><a href="{{path("queryExcepcion")}}">Excepciones</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="{{path("querySincroLog")}}">Consulta Logs</a></li>

    </ul>
</div>