<script>
    $(document).ready(function () {

    });
    
</script> 


<div class="container">
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="panel panel-default">
        <div class="panel-heading">Identificación</div>
        <div class="panel-body">
            <div class="form_row mismalinea">{{form_row(form.uf)}}</div>
            <div class="form-row  mismalinea">{{form_row(form.pa)}}</div>
            <div class="clearfix"></div>
            <div class="form-row mismalinea">{{form_row(form.catGen)}}</div>
            <div class="form-row mismalinea">{{form_row(form.catFp)}}</div>
            <div class="form-row  mismalinea">{{form_row(form.cias)}}</div>
            <div class="form-row mismalinea">{{form_row(form.fCreacion)}}</div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Datos Amortización </div>
        <div class="panel-body">
            <div class="form-row ">{{form_row(form.observaciones)}}</div>
            <div class="form-row mismalinea">{{form_row(form.fAmortiza)}}</div>
        </div>
    </div>

    <div class="form_row" >
        {{ form_row(form.Guardar) }}
        {{ form_end(form) }}
    </div>
</div>
