<script>
    $(document).ready(function () {

        $("#costesbundle_plaza_nuevoCeco").change(function () {
            $("#procesando").modal('show');
            var valor = $("#costesbundle_plaza_nuevoCeco").val();
            var recurso = Routing.generate("ajaxVerCeco", {"id": valor}, true);
            $.ajax({
                type: "POST",
                url: recurso,
                dataType: 'json',
                success: function (data, status, xhr) {
                    $('.modal-backdrop').remove();
                    $("#procesando").hide();
                    $("#costesbundle_plaza_nuevoCecoCodigo").val(data.codigo);
                    $("#costesbundle_plaza_nuevoCecoDesc").val(data.descripcion);
                    $("#btnAsignacion").show();

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    return null;
                }
            });
        });
    });

    function cambiarAsignacion() {
        if ($("#costesbundle_plaza_nuevoCecoInf").val() == '' ||
            $("#costesbundle_plaza_fInicio").val() == '') {
            bootbox.alert("OBLIGATORIO INFORMAR NUEVO CECO  Y FECHA DE INICIO",
                function () {
                });
        } else {
            var cias = $("#costesbundle_plaza_cias").val();
            var cecoAnterior = $("#costesbundle_plaza_cecoActual").val();
            alert(cecoAnterior);
            if (cecoAnterior == '') {
                cecoAnterior = 0;
            }
            var nuevoCeco = $("#costesbundle_plaza_nuevoCecoCodigo").val();
            var fInicio = $("#costesbundle_plaza_fInicio").val();
            var recurso = Routing.generate("cambiarAsignacion", {
                "cias": cias,
                "nuevoCeco": nuevoCeco,
                "fInicio": fInicio,
                "cecoAnterior_id": cecoAnterior
            }, true);
            window.location = recurso;
        }
    }

    function calcularCias() {
        var uf = $("#costesbundle_plaza_uf").val();
        var pa = $("#costesbundle_plaza_pa").val();
        var catgen = $("#costesbundle_plaza_catGen").val();
        if (uf == '' || pa == '' || catgen == '') {
            bootbox.alert("Unidad Funcional, Punto Asistencia y Categoría Obligatorios");
        } else {
            $("#procesando").modal('show');
            var recurso = Routing.generate("calcularCIAS", {"uf_id": uf, "pa_id": pa, "catgen_id": catgen}, true);
            $.ajax({
                type: "POST",
                url: recurso,
                dataType: 'json',
                success: function (data, status, xhr) {
                    $('.modal-backdrop').remove();
                    $("#procesando").hide();
                    $("#costesbundle_plaza_cias").val(data.cias);
                    $("#costesbundle_plaza_orden").val(data.orden);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    return null;
                }
            });
        }
    }

    function reCalcularCias() {
        var cias = $("#costesbundle_plaza_cias").val();
        var patron = cias.substr(0, 8);
        var orden = $("#costesbundle_plaza_orden").val();
        $("#costesbundle_plaza_cias").val(patron + orden);

    }

    function calcularLetra() {
        let cadena, letra, resto;
        let cias = $("#costesbundle_plaza_cias").val();
        if (cias != '') {
            cadena = 'TRWAGMYFPDXBNJZSQVHLCKE';
            resto = cias % 23;
            letra = cadena.substr(resto, 1);
            $("#costesbundle_plaza_cias").val(cias + letra);
        } else {
            bootbox.alert(' ERROR NO EXISTE CIAS');
        }
    }

    /**
     *
     */
    function desAmortizar() {
        let recurso;
        let cias = $("#costesbundle_plaza_cias").val();
        alert(cias);
        recurso = Routing.generate("desAmortizacion", {
            "cias": cias
        }, true);
        window.location = recurso;

    }

    function calcularCeco() {
        let recurso;
        let uf = $("#costesbundle_plaza_uf").val();
        let pa = $("#costesbundle_plaza_pa").val();
        let cias = $("#costesbundle_plaza_cias").val();
        if (uf == '' || pa == '' || cias == '') {
            bootbox.alert("Unidad Funcional, Punto Asistencia y Cias Obligatorios");
        } else {
            $("#procesando").modal('show');
            recurso = Routing.generate("ajaxCalcularCeco", {"cias": cias, "uf_id": uf, "pa_id": pa}, true);
            $.ajax({
                type: "POST",
                url: recurso,
                dataType: 'json',
                success: function (data, status, xhr) {
                    $('.modal-backdrop').remove();
                    $("#procesando").hide();
                    $("#costesbundle_plaza_nuevoCecoCodigo").val(data.codigo);
                    $("#costesbundle_plaza_nuevoCecoDesc").val(data.descripcion);
                    if ($("#costesbundle_plaza_nuevoCecoDesc").val() == 'ERROR NO EXISTE CECO') {
                        $("#btnAsignacion").hide();
                    } else {
                        $("#btnAsignacion").show();
                    }

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    return null;
                }
            });
        }
    }

</script>


<div class="container">
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="panel panel-default">
        <div class="panel-heading">Identificación</div>
        <div class="panel-body">
            <div class="form_row mismalinea">{{ form_row(form.uf) }}</div>
            <div class="form-row  mismalinea">{{ form_row(form.pa) }}</div>
            <div class="clearfix"></div>
            <div class="form-row mismalinea">{{ form_row(form.catGen) }}</div>
            <div class="form-row  mismalinea">{{ form_row(form.cias) }}</div>
            <div class="form-row  mismalinea">{{ form_row(form.orden) }}</div>
            {% if accion == 'NUEVA' %}
                <div class="form-row  mismalinea">
                    <button type="button"
                            class="btn btn-default btn-info"
                            onclick="calcularCias()"
                            data-toggle="tooltip"
                            data-placement="bottom"
                            title="Calcular Identificación de Plaza">Calcular CIAS
                    </button>
                </div>
                <div class="form-row  mismalinea">
                    <button type="button"
                            class="btn btn-default btn-info"
                            onclick="reCalcularCias()"
                            data-toggle="tooltip"
                            data-placement="bottom"
                            title="Recalcular CIAS según nuevo orden">Recalcular CIAS
                    </button>
                </div>
                <div class="form-row  mismalinea">
                    <button type="button"
                            class="btn btn-default btn-info"
                            onclick="calcularLetra()"
                            data-toggle="tooltip"
                            data-placement="bottom"
                            title="Calcular letra de Control de Plaza">Calcular Letra
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
    <div id="tabs" class="pestana container">
        <ul class="nav nav-tabs">
            <li><a id="tdatosGen" href="#datosGen">Datos Generales</a></li>
            {% if accion == 'MODIFICACIÓN' %}
                <li><a id="tdatosGen" href="#consulta">Histórico Centros de Coste</a></li>
                <li><a id="tcostes" href="#costes">Cambio de Asignación</a></li>
            {% endif %}
        </ul>
        <div id="datosGen">
            <div class="form-row mismalinea">{{ form_row(form.modalidad) }}</div>
            <div class="form-row mismalinea">{{ form_row(form.catFp) }}</div>
            <div class="form-row mismalinea">{{ form_row(form.turno) }}</div>
            <div class="clearfix"></div>
            <div class="form-row ">{{ form_row(form.observaciones) }}</div>
            <div class="clearfix"></div>
            <div class="form-row mismalinea">{{ form_row(form.fCreacion) }}</div>
            <div class="form-row mismalinea">{{ form_row(form.fAmortiza) }}</div>
            {% if (plaza.fAmortiza != '' ) %}
                <div class="form-row  mismalinea">
                    <button type="button"
                            class="btn btn-default btn-warning"
                            onclick="desAmortizar()"
                            data-toggle="tooltip"
                            data-placement="bottom"
                            title="Desamortizar la Plaza"> Quitar Amortización
                    </button>
                </div>
            {% endif %}
            <div class="clearfix"></div>
            <div class="form-row mismalinea" style="display: none">{{ form_row(form.refuerzo) }}</div>
            <div class="form-row mismalinea">{{ form_row(form.plantilla) }}</div>
            <div class="form-row mismalinea">{{ form_row(form.ficticia) }}</div>
            <div class="form-row mismalinea" style="display: none">>{{ form_row(form.colaboradora) }}</div>
            <div class="form-row mismalinea">{{ form_row(form.horNormal) }}</div>
            <div class="form-row mismalinea">{{ form_row(form.cupequi) }}</div>
            <div class="clearfix"></div>
        </div>
        {% if accion == 'MODIFICACIÓN' %}
            <div id="consulta">
                {% if (datatable != '' ) %}
                    {{ sg_datatables_render(datatable) }}
                {% endif %}
            </div>
            <div id="costes">
                <div class="form-row mismalinea">{{ form_row(form.cecoActual) }}</div>
                <div class="clearfix"></div>
                <div class="form-row mismalinea">{{ form_row(form.nuevoCecoCodigo) }}</div>
                <div class="form-row mismalinea">{{ form_row(form.nuevoCecoDesc) }}</div>
                <div class="form-row mismalinea">{{ form_row(form.nuevoCeco) }}</div>
                <div class="form-row mismalinea">{{ form_row(form.fInicio) }}</div>
                <div class="form-row mismalinea">
                    <button type="button"
                            class="btn btn-default btn-warning btn-t"
                            onclick="calcularCeco()"
                            data-toggle="tooltip"
                            data-placement="bottom"
                            title="Calculo Automático de Centro de Coste"> Calcular Centro de Coste
                    </button>
                </div>
                <div class="form-row mismalinea">
                    <button type="button"
                            id="btnAsignacion"
                            class="btn btn-default btn-info btn-t"
                            onclick="cambiarAsignacion()"
                            data-toggle="tooltip"
                            data-placement="bottom"
                            title="Cambiar Asginación de Centro de Coste"> Cambiar Asignación
                    </button>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="form_row ">
        {{ form_row(form.Guardar) }}
    </div>
</div>
