<script type="text/javascript" src="{{ asset('js/bootstrap-treeview.js') }}"></script>

<script>

    $(document).ready(function () {
        let recurso;
        recurso = Routing.generate("ajaxGetEstructura", true);
        $.ajax({
            type: "POST",
            url: recurso,
            dataType: 'json',
            success: function ok (data) {
                $('.modal-backdrop').remove();
                $("#procesando").hide();
                $('#tree').treeview({data: data});
                $('#tree').treeview('expandAll', {levels: 1, silent: true});
                $('#tree').on('nodeSelected', function (event, data) {
                })
            },
            error: function err () {
                return null;
            }
        });

        $("#costesbundle_plaza_codigoUf").change(function chg() {
            let valor, recurso;
            $("#procesando").show();
            valor = $("#costesbundle_plaza_codigoUf").val();
            recurso = Routing.generate("ajaxVerUf", {"codigo": valor}, true);
            $.ajax({
                type: "POST",
                url: recurso,
                dataType: 'json',
                success: function ok (data) {
                    $('.modal-backdrop').remove();
                    $("#procesando").hide();
                    $("#costesbundle_plaza_descripcionUf").val(data.descripcion);
                    $("#costesbundle_plaza_uf").val(data.id);
                },
                error: function err () {
                    return null;
                }
            });
        });

        $("#costesbundle_plaza_codigoPa").change(function chg() {
            let valor, recurso;
            $("#procesando").show();
            valor = $("#costesbundle_plaza_codigoPa").val();
            recurso = Routing.generate("ajaxVerPa", {"codigo": valor}, true);
            $.ajax({
                type: "POST",
                url: recurso,
                dataType: 'json',
                success: function ok(data) {
                    $('.modal-backdrop').remove();
                    $("#procesando").hide();
                    $("#costesbundle_plaza_descripcionPa").val(data.descripcion);
                    $("#costesbundle_plaza_pa").val(data.id);
                },
                error: function err() {
                    return null;
                }
            });
        });

        $("#costesbundle_plaza_uf").change(function () {
            let valor, recurso;
            $("#procesando").show();
            valor = $("#costesbundle_plaza_uf").val();
            recurso = Routing.generate("ajaxVerUfById", {"id": valor}, true);
            $.ajax({
                type: "POST",
                url: recurso,
                dataType: 'json',
                success: function ok(data) {
                    $('.modal-backdrop').remove();
                    $("#procesando").hide();
                    $("#costesbundle_plaza_codigoUf").val(data.oficial);
                    $("#costesbundle_plaza_descripcionUf").val(data.descripcion);
                },
                error: function err() {
                    return null;
                }
            });
        });

        $("#costesbundle_plaza_pa").change(function chg() {
            let valor, recurso;
            //$("#procesando").modal('show');
            $("#procesando").show();
            valor = $("#costesbundle_plaza_pa").val();
            recurso = Routing.generate("ajaxVerPaById", {"id": valor}, true);
            $.ajax({
                type: "POST",
                url: recurso,
                dataType: 'json',
                success: function ok (data) {
                    $('.modal-backdrop').remove();
                    $("#procesando").hide();
                    $("#costesbundle_plaza_codigoPa").val(data.oficial);
                    $("#costesbundle_plaza_descripcionPa").val(data.descripcion);
                },
                error: function err () {
                    return null;
                }
            });
        });

        $("#costesbundle_plaza_nuevoCeco").change(function chg() {
            let valor, recurso;
            $("#procesando").show();
            valor = $("#costesbundle_plaza_nuevoCeco").val();
            recurso = Routing.generate("ajaxVerCeco", {"id": valor}, true);
            $.ajax({
                type: "POST",
                url: recurso,
                dataType: 'json',
                success: function ok (data) {
                    $('.modal-backdrop').remove();
                    $("#procesando").hide();
                    $("#costesbundle_plaza_nuevoCecoCodigo").val(data.codigo);
                    $("#costesbundle_plaza_nuevoCecoDesc").val(data.descripcion);
                    $("#btnAsignacion").show();

                },
                error: function err () {
                    return null;
                }
            });
        });

        $("#costesbundle_plaza_turnof").change(function chg() {
            let valor, recurso;


            $("#procesando").show();
            valor = $("#costesbundle_plaza_turnof").val();
            recurso = Routing.generate("ajaxVerTurno", {"id": valor}, true);
            $.ajax({
                type: "POST",
                url: recurso,
                dataType: 'json',
                success: function ok (data) {
                    $('.modal-backdrop').remove();
                    $("#procesando").hide();
                    $("#costesbundle_plaza_h1ini").val('00:00');
                    $("#costesbundle_plaza_h1fin").val('00:00');
                    if ('M' === data.codigo) {
                        $("#costesbundle_plaza_h1ini").val('08:00');
                        $("#costesbundle_plaza_h1fin").val('15:00');
                    }
                    if (data.codigo === 'T') {
                        $("#costesbundle_plaza_h1ini").val('14:00');
                        $("#costesbundle_plaza_h1fin").val('21:00');
                    }
                    $("#costesbundle_plaza_h2ini").val("00:00");
                    $("#costesbundle_plaza_h2fin").val("00:00");
                },
                error: function err () {
                    return null;
                }
            });
        });

    });

    function quitarUnidadOrganizativa() {
        let recurso;
        let cias = $("#costesbundle_plaza_cias").val();
        recurso = Routing.generate("quitarUnidadOrganizativa",{"cias":cias},true);
        window.location = recurso;
    }

    function cambiarUnidadOrganizativa() {
        $("#estructura").show();
    }

    function asignarUnidad() {

        let unidadOrganizativa_id;
        let recurso;
        let nodo;
        let cias = $("#costesbundle_plaza_cias").val();
        $("#procesando").show();
        nodo = $('#tree').treeview('getSelected');
        console.log(nodo["0"]);
        console.log(nodo["0"]["unidad"]);
        console.log(nodo["0"]["nodes"])
        unidadOrganizativa_id = nodo["0"]["unidad"];
        recurso = Routing.generate("cambiarUnidadOrganizativa",{"cias":cias,"unidadOrganizativa_id":unidadOrganizativa_id},true);
        // bootbox.alert(recurso)
        window.location = recurso;
    }

    function cambiarAsignacion() {
        let cias, cecoAnterior, nuevoCeco, fInicio, recurso;
        if ($("#costesbundle_plaza_nuevoCecoInf").val() == '' ||
            $("#costesbundle_plaza_fInicio").val() == '') {
            bootbox.alert("OBLIGATORIO INFORMAR NUEVO CECO  Y FECHA DE INICIO",
                function () {
                });
        } else {
            cias = $("#costesbundle_plaza_cias").val();
            cecoAnterior = $("#costesbundle_plaza_cecoActual").val();
            if (cecoAnterior === '') {
                cecoAnterior = 0;
            }
            nuevoCeco = $("#costesbundle_plaza_nuevoCecoCodigo").val();
            fInicio = $("#costesbundle_plaza_fInicio").val();
            recurso = Routing.generate("cambiarAsignacion", {
                "cias": cias,
                "nuevoCeco": nuevoCeco,
                "fInicio": fInicio,
                "cecoAnterior_id": cecoAnterior
            }, true);
            window.location = recurso;
        }
    }

    function calcularCias() {
        let uf = $("#costesbundle_plaza_uf").val();
        let catgen = $("#costesbundle_plaza_catGen").val();
        let recurso;
        if (uf == '' || catgen == '') {
            bootbox.alert("Unidad Funcional, Punto Asistencia y Categoría Obligatorios");
        } else {
            $("#procesando").show();
            recurso = Routing.generate("calcularCIAS", {"uf_id": uf, "catgen_id": catgen}, true);
            $.ajax({
                type: "POST",
                url: recurso,
                dataType: 'json',
                success: function ok (data) {
                    $('.modal-backdrop').remove();
                    $("#procesando").hide();
                    $("#costesbundle_plaza_cias").val(data.cias);
                    $("#costesbundle_plaza_orden").val(data.orden);
                },
                error: function err () {
                    return null;
                }
            });
        }
    }

    function reCalcularCias() {
        let cias = $("#costesbundle_plaza_cias").val();
        let patron = cias.substr(0, 8);
        let orden = $("#costesbundle_plaza_orden").val();
        $("#costesbundle_plaza_cias").val(patron + orden);

    }

    function calcularLetra() {
        let cadena, letra, resto;
        let cias = $("#costesbundle_plaza_cias").val();
        if (cias != '') {
            cadena = 'TRWAGMYFPDXBNJZSQVHLCKE';
            resto = cias % 23;
            letra = cadena.substr(resto, 1);
            $("#costesbundle_plaza_cias").val(cias + letra);
        } else {
            bootbox.alert(' ERROR NO EXISTE CIAS');
        }
    }

    function desAmortizar() {
        let recurso;
        let cias = $("#costesbundle_plaza_cias").val();
        recurso = Routing.generate("desAmortizacion", {
            "cias": cias
        }, true);
        window.location = recurso;

    }

    function consultarAltas() {
        let cias = $("#costesbundle_plaza_cias").val();
        let recurso;
        recurso = Routing.generate("consultarAltas", {"cias": cias}, true);
        window.location = recurso;
    }

    function calcularCeco() {
        let recurso;
        let uf = $("#costesbundle_plaza_uf").val();
        let pa = $("#costesbundle_plaza_pa").val();
        let cias = $("#costesbundle_plaza_cias").val();
        if (uf == '' || pa == '' || cias == '') {
            bootbox.alert("Unidad Funcional, Punto Asistencial y Cias Obligatorios");
        } else {
            $("#procesando").show();
            recurso = Routing.generate("ajaxCalcularCeco", {"cias": cias, "uf_id": uf, "pa_id": pa}, true);
            $.ajax({
                type: "POST",
                url: recurso,
                dataType: 'json',
                success: function ok (data) {
                    $('.modal-backdrop').remove();
                    $("#procesando").hide();
                    $("#costesbundle_plaza_nuevoCecoCodigo").val(data.codigo);
                    $("#costesbundle_plaza_nuevoCecoDesc").val(data.descripcion);
                    if ($("#costesbundle_plaza_nuevoCecoDesc").val() === 'ERROR NO EXISTE CECO') {
                        $("#btnAsignacion").hide();
                    } else {
                        $("#btnAsignacion").show();
                    }

                },
                error: function err () {
                    return null;
                }
            });
        }
    }

    function deletePlaza() {
        let cias, recurso;
        cias = $("#costesbundle_plaza_cias").val();
        recurso = Routing.generate("deletePlaza", {
            "cias": cias,
        }, true);
        window.location = recurso;
    }

    function abrirAyudaPa() {
        $("#ayudaPa").show();
    }

    function closeAyudaPa() {
        $("#ayudaPa").hide();
    }

    function abrirAyudaUf() {
        $("#ayudaUf").show();
    }

    function closeAyudaUf() {
        $("#ayudaUf").hide();
    }

</script>
<div id="ayudaUf" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" text-align="center">
                <div class="panel panel-default">
                    <div class="panel-heading">Unidad Funcional</div>
                    <div class="panel-body">
                        <div class="form_row mismalinea">{{ form_row(form.codigoUf) }}</div>
                        <div class="form_row mismalinea">{{ form_row(form.descripcionUf) }}</div>
                    </div>
                    <button type="button"
                            class="btn btn-default btn-info btn-b btn-r"
                            onclick="closeAyudaUf()"
                            data-toggle="tooltip"
                            data-placement="bottom"
                            title="Volver a Editar Plaza">Cerrar
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="ayudaPa" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" text-align="center">
                <div class="panel panel-default">
                    <div class="panel-heading">Punto Asistencial</div>
                    <div class="panel-body">
                        <div class="form_row mismalinea">{{ form_row(form.codigoPa) }}</div>
                        <div class="form_row mismalinea">{{ form_row(form.descripcionPa) }}</div>
                    </div>
                    <button type="button"
                            class="btn btn-default btn-info btn-b btn-r"
                            onclick="closeAyudaPa()"
                            data-toggle="tooltip"
                            data-placement="bottom"
                            title="Volver a Editar Plaza">Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="estructura" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content container-fluid">
            <div class="modal-title"> <h2>ESTRUCTURA ORGANIZATIVA</h2></div>
            <div class="modal-body" text-align="center">
                <div id="tree"></div>
                <button type="button"
                        class="btn btn-default btn-info btn-b btn-r"
                        onclick="asignarUnidad()"
                        data-toggle="tooltip"
                        data-placement="bottom"
                        title="Volver a Editar Plaza">Asignar
                </button>

            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="panel panel-default">
        <div class="panel-heading">Identificación</div>
        <div class="panel-body">
            <div class="form_row mismalinea">{{ form_row(form.uf) }}</div>
            <button type="button"
                    class="btn btn-default btn-info"
                    onclick="abrirAyudaUf()"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="Introducir Código Unidad Funcional ">
                <span class="glyphicon glyphicon-question-sign"></span>
            </button>
            <div class="clearfix"></div>
            <div class="form-row  mismalinea">{{ form_row(form.pa) }}</div>
            <button type="button"
                    class="btn btn-default btn-info"
                    onclick="abrirAyudaPa()"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    title="Introducir Código Punto Asistencial">
                <span class="glyphicon glyphicon-question-sign"></span>
            </button>
            <div class="clearfix"></div>
            <div class="form-row mismalinea">{{ form_row(form.catGen) }}</div>
            <div class="form-row mismalinea">{{ form_row(form.cias) }}</div>
            <div class="form-row mismalinea">{{ form_row(form.orden) }}</div>
            {% if accion == 'NUEVA' %}
                <div class="form-row  mismalinea">
                    <button type="button"
                            class="btn btn-default btn-info"
                            onclick="calcularCias()"
                            data-toggle="tooltip"
                            data-placement="bottom"
                            title="Calcular Identificación de Plaza">Calcular CIAS
                    </button>
                </div>
                <div class="form-row  mismalinea">
                    <button type="button"
                            class="btn btn-default btn-info"
                            onclick="reCalcularCias()"
                            data-toggle="tooltip"
                            data-placement="bottom"
                            title="Recalcular CIAS según nuevo orden">Recalcular CIAS
                    </button>
                </div>
                <div class="form-row  mismalinea">
                    <button type="button"
                            class="btn btn-default btn-info"
                            onclick="calcularLetra()"
                            data-toggle="tooltip"
                            data-placement="bottom"
                            title="Calcular letra de Control de Plaza">Calcular Letra
                    </button>
                </div>
            {% else %}
                <div class="form-row  mismalinea">
                    <button type="button"
                            class="btn btn-default btn-warning"
                            onclick="consultarAltas()"
                            data-toggle="tooltip"
                            data-placement="bottom"
                            title="Consultas Altas de este CIAS">Consultar Altas
                    </button>
                </div>

            {% endif %}
        </div>
    </div>
    <div id="tabs" class="pestana container">
        <ul class="nav nav-tabs">
            <li><a id="tdatosGen" href="#datosGen">Datos Generales</a></li>
            {% if accion == 'MODIFICACIÓN' %}
                <li><a id="tdatosGen" href="#consulta">Histórico Centros de Coste</a></li>
                <li><a id="tcostes" href="#costes">Cambio de Asignación Ceco</a></li>
                <li><a id="tunidad" href="#unidadOrganizativa">Unidad Organizativa</a></li>
            {% endif %}
        </ul>
        <div id="datosGen">
            <div class="form-row mismalinea">{{ form_row(form.modalidad) }}</div>
            <div class="form-row mismalinea">{{ form_row(form.catFp) }}</div>
            <div class="clearfix"></div>
            <div class="form-row mismalinea">{{ form_row(form.turnof) }}</div>
            <div class="form-row mismalinea">{{ form_row(form.h1ini) }}</div>
            <div class="form-row mismalinea">{{ form_row(form.h1fin) }}</div>
            <div class="form-row mismalinea">{{ form_row(form.h2ini) }}</div>
            <div class="form-row mismalinea">{{ form_row(form.h2fin) }}</div>
            <div class="clearfix"></div>

            <div class="form-row ">{{ form_row(form.observaciones) }}</div>
            <div class="clearfix"></div>
            <div class="form-row mismalinea">{{ form_row(form.fCreacion) }}</div>
            <div class="form-row mismalinea">{{ form_row(form.fAmortiza) }}</div>
            {% if (plaza.fAmortiza != '' ) %}
                <div class="form-row  mismalinea">
                    <button type="button"
                            class="btn btn-default btn-warning"
                            onclick="desAmortizar()"
                            data-toggle="tooltip"
                            data-placement="bottom"
                            title="Desamortizar la Plaza"> Quitar Amortización
                    </button>
                </div>
            {% endif %}
            <div class="clearfix"></div>
            <div class="form-row mismalinea" style="display: none">{{ form_row(form.refuerzo) }}</div>
            <div class="form-row mismalinea">{{ form_row(form.plantilla) }}</div>
            <div class="form-row mismalinea">{{ form_row(form.ficticia) }}</div>
            <div class="form-row mismalinea" style="display: none">>{{ form_row(form.colaboradora) }}</div>
            <div class="form-row mismalinea">{{ form_row(form.horNormal) }}</div>
            <div class="form-row mismalinea">{{ form_row(form.cupequi) }}</div>
            <div class="clearfix"></div>
        </div>
        {% if accion == 'MODIFICACIÓN' %}
            <div id="consulta">
                {% if (datatable != '' ) %}
                    {{ sg_datatables_render(datatable) }}
                {% endif %}
            </div>
            <div id="costes">
                <div class="form-row mismalinea">{{ form_row(form.cecoActual) }}</div>
                <div class="clearfix"></div>
                <div class="form-row mismalinea">{{ form_row(form.nuevoCecoCodigo) }}</div>
                <div class="form-row mismalinea">{{ form_row(form.nuevoCecoDesc) }}</div>
                <div class="form-row mismalinea">{{ form_row(form.nuevoCeco) }}</div>
                <div class="form-row mismalinea">{{ form_row(form.fInicio) }}</div>
                <div class="form-row mismalinea">
                    <button type="button"
                            class="btn btn-default btn-warning btn-t"
                            onclick="calcularCeco()"
                            data-toggle="tooltip"
                            data-placement="bottom"
                            title="Calculo Automático de Centro de Coste"> Calcular Centro de Coste
                    </button>
                </div>
                <div class="form-row mismalinea">
                    <button type="button"
                            id="btnAsignacion"
                            class="btn btn-default btn-info btn-t"
                            onclick="cambiarAsignacion()"
                            data-toggle="tooltip"
                            data-placement="bottom"
                            title="Cambiar Asginación de Centro de Coste"> Cambiar Asignación
                    </button>
                </div>
            </div>
            <div id="unidadOrganizativa">
                <div class="form-row ">{{ form_row(form.unidadOrganizativa) }}</div>
                <div class="form-row mismalinea">
                    <button type="button"
                            id="btnAsignacion"
                            class="btn btn-default btn-warning btn-t"
                            onclick="cambiarUnidadOrganizativa()"
                            data-toggle="tooltip"
                            data-placement="bottom"
                            title="Cambiar Unidad"> Cambiar
                    </button>
                </div>

                <div class="form-row mismalinea">
                    <button type="button"
                            id="btnAsignacion"
                            class="btn btn-default btn-warning btn-t"
                            onclick="quitarUnidadOrganizativa()"
                            data-toggle="tooltip"
                            data-placement="bottom"
                            title="Eliminar"> Quitar
                    </button>
                </div>

            </div>
        {% endif %}
    </div>
    <div class="form_row mismalinea">
        {{ form_row(form.Guardar) }}
    </div>
    <div class="form-row mismalinea">
        <button type="button"
                id="btnAsignacion"
                class="btn btn-default btn-danger btn-t"
                onclick="deletePlaza()"
                data-toggle="tooltip"
                data-placement="bottom"
                title="Eliminar Plaza"> Eliminar Plaza
        </button>
    </div>

</div>
