<div class="form_row mismalinea " >{{form_row(form.codigo)}} </div>
<div class="form_row mismalinea " >{{form_row(form.descripcion)}} </div>
<div class="form_row mismalinea " >{{form_row(form.nivel)}} </div>
<div class="form_row mismalinea " >{{form_row(form.horas)}} </div>
<div class="form_row mismalinea " >{{form_row(form.grupob)}} </div>
<div class="form_row mismalinea " >{{form_row(form.apd)}} </div>
<div class="form_row mismalinea " >{{form_row(form.refuerzo)}} </div>
<div class="form_row mismalinea " >{{form_row(form.perSinSueldo)}} </div>
<div class="form_row mismalinea " >{{form_row(form.cobraNomina)}} </div>
<div class="form_row mismalinea " >{{form_row(form.cotizaSs)}} </div>
<div class="form_row mismalinea " >{{form_row(form.prodtsi)}} </div>
<div class="form_row mismalinea " >{{form_row(form.liq_extra)}} </div>
<div class="form_row mismalinea " >{{form_row(form.liq_vacaciones)}} </div>
<div class="form_row mismalinea " >{{form_row(form.retribucion)}} </div>
<div class="form_row mismalinea " >{{form_row(form.tipo)}} </div>
<div class="form_row mismalinea " >{{form_row(form.minimoFijo)}} </div>
<div class="form_row mismalinea " >{{form_row(form.minimoInterino)}} </div>
<div class="form_row mismalinea " >{{form_row(form.minimoEventual)}} </div>
<div class="form_row mismalinea " >{{form_row(form.minimoEv)}} </div>
<div class="form_row mismalinea " >{{form_row(form.horasAnuales)}} </div>
<div class="form_row mismalinea " >{{form_row(form.horasSabados)}} </div>
<div class="form_row mismalinea " >{{form_row(form.mediaVacaciones)}} </div>
<div class="form_row mismalinea " >{{form_row(form.enuso)}} </div>
<div class="form_row mismalinea " >{{form_row(form.excluirPlPage)}} </div>
<div class="form_row mismalinea " >{{form_row(form.grcRptCodigo)}} </div>
<div class="form_row mismalinea " >{{form_row(form.grcRptDescripcion)}} </div>
<div class="form_row mismalinea " >{{form_row(form.grcRptId)}} </div>
<div class="form_row mismalinea " >{{form_row(form.personal)}} </div>
<div class="form_row mismalinea " >{{form_row(form.peac)}} </div>
<div class="form_row mismalinea " >{{form_row(form.excluir_extra)}} </div>
<div class="form_row mismalinea " >{{form_row(form.asuMedia)}} </div>
<div class="form_row mismalinea " >{{form_row(form.extraPorHoras)}} </div>
<div class="form_row mismalinea " >{{form_row(form.asuMediaPeriodo)}} </div>
<div class="form_row mismalinea " >{{form_row(form.epiAcc)}} </div>
<div class="form_row mismalinea " >{{form_row(form.grupoProf)}} </div>
<div class="form_row mismalinea " >{{form_row(form.ocupacion)}} </div>
<div class="form_row mismalinea " >{{form_row(form.grupoCot)}} </div>
